zend_extension=xdebug.so
xdebug.idekey={{ php_xdebug_idekey | default("PHPSTORM") }}
xdebug.remote_enable={{ php_xdebug_remote_enable }}
xdebug.remote_autostart={{ php_xdebug_remote_autostart }}
xdebug.profiler_enable={{ php_xdebug_profiler_enable }}
xdebug.remote_connect_back={{ php_xdebug_remote_connect_back }}
