<VirtualHost *:{{ apache_port }}>
    ServerAdmin webmaster@{{ webserver_name }}

    ServerName {{ webserver_name }}
    ServerAlias www.{{ webserver_name }}

    DocumentRoot {{ server_path }}/{{ server_public_dir }}
    <Directory />
        Options FollowSymLinks
        AllowOverride All
    </Directory>
    <Directory {{ server_path }}/{{ server_public_dir }}/>
        Options Indexes FollowSymLinks MultiViews
        AllowOverride All
        Order allow,deny
        allow from all
    </Directory>

    ScriptAlias /cgi-bin/ /usr/lib/cgi-bin/
    <Directory "/usr/lib/cgi-bin">
        AllowOverride All
        Options +ExecCGI -MultiViews +SymLinksIfOwnerMatch
        Order allow,deny
        Allow from all
    </Directory>

    ErrorLog {{ server_path }}/error.log

    # Possible values include: debug, info, notice, warn, error, crit,
    # alert, emerg.
    LogLevel warn

    CustomLog {{ server_path }}/access.log combined
</VirtualHost>
